/system/
/vendor/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
!/writable/cache/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html
.env
*.sql
*.sql.bak
